.App {
    text-align: center;
    display: block;
    position: relative;
    color: hsl(0, 0%, 17%);
}

.header {
    height: 250px;
    background-image: url("pattern-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header {
    margin-bottom: 20px;
    color: white;
    font-size: 2rem;
    margin: 0;
    padding: 10px 0 15px;
}

.inputgrp {
    width: 35%;
}

.inputgrp:focus-within {
    outline: none;
}

.input {
    height: 45px;
    width: 87%;
    border: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 0 2%;
    font-size: 14px;
}

.input:focus-within {
    outline: none;
}

.button {
    padding: 0;
    height: 45px;
    width: 9%;
    background-color: black;
    border: hidden;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.button:focus-within {
    outline: none;
}

.button:hover {
    background-color: hsl(0, 0%, 17%);
}

.info {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 200px;
    height: 125px;
    z-index: 1000;
}

.flex {
    background: white;
    display: flex;
    justify-content: center;
    width: 70%;
    border-radius: 15px;
    box-shadow: 0.5px 0.5px hsl(0, 0%, 59%);
}

.data-container {
    width: 100%;
    margin: 3% 0;
    border-right: 1px solid;
    text-align: left;
    border-color: hsl(0, 0%, 59%);
}

.data4 {
    border: hidden;
}

.data {
    padding: 0 15%;
}

.category {
    color: hsl(0, 0%, 59%);
    margin: 0;
    font-size: 0.75em;
}

.value {
    font-weight: 700;
    color: hsl(0, 0%, 17%);
}

#mapid {
    height: 70vh;
}

.leaflet-container {
    height: 100%;
}

@media screen and (max-width: 850px) {
    .header {
        height: 250px;
        padding-top: 10px;
    }
    
    .inputgrp{
        width: 90%;
    }
    
    .info {
        height: 270px;
        top: 135px;
    }
    
    .flex {
        flex-direction: column;
        width: 90%;
        height: 90%;
    }
    
    .data-container {
        border: hidden;
        margin: 2% 0 0;
    }
    
    .data {
        text-align: center;
    }
    
    .leaflet-control-zoom {
        display: none;
    }
}
    